.searchBox {
  margin-top: 5%;
  form {
    display: flex;
    justify-content: space-around;
    .search {
      width: 80%;
      margin: auto;

      width: 80%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .btn {
      padding: 12px 20px;
      margin: 8px 0;
      border: none;
      background: #000;
      color: #fff;
      border-radius: 5px;
    }
  }
}
